@page
@model EditStocksModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Edit Stock</h3>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Color)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Color)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Fabric)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Fabric)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Brand)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Brand.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Category.Name)
        </dd>
    </dl>
</div>
<hr />

@*<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Products.Id" />
            @foreach (var productDetail in Model.ProductDetails)
            {
                <div class="form-group">
                    <label asp-for="@productDetail.Size" class="control-label"></label>
                    <input asp-for="@productDetail.Size" class="form-control" />
                    <span asp-validation-for="@productDetail.Size" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@productDetail.AmountInStock" class="control-label"></label>
                    <input asp-for="@productDetail.AmountInStock" class="form-control" />
                    <span asp-validation-for="@productDetail.AmountInStock" class="text-danger"></span>
                </div>
            }
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>*@

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
